.productslist {
    float: right;
    display: inline;
    width: 80%;
}

.categories{
    float: left;
    display: inline;
    width: 20%;
}


.productslist ul{
    text-align: center;
}

.productslist li{
    display: inline-block;
    margin: 30px;
    width: 200px;
    height: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.categories ul{
    list-style: none;
}


.searchmenu{
  text-align: center;
}
