.productslist {
    float: right;
    display: inline;
    width: 80%;
}

.categories{
    float: left;
    display: inline;
    width: 20%;
}

.productitem{
    width: 120px;
    height: 120px;
}

.productslist ul{
    text-align: center;
}

.productslist li{
    display: inline-block;
    margin: 30px;
}

.categories ul{
    list-style: none;
}


.searchmenu{
  text-align: center;
}
